<h1>Reach me here</h1>
<hr>

<div class="row">
	<div class = "col-md-6">
		<br>
		<br>
		<br>
		<br>
		<h3>Contact No.</h3>
		<p><%= number_to_phone "9079758896" %></p>

		<h3>Email</h3>
		<p><a href = "mailto:mahimapatel@gmail.com?subject=PortfolioContact"> Email Here </a></p>

		<h3>Office Address</h3>
		<p> Capital Cyberscape, Sector 59, Gurugram, Haryana </p>
	</div>

	<div class="col-md-6">
		<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3509.5914337852196!2d77.101596314563!3d28.40140568250962!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x390d21d080beb5d5%3A0x3cde94a2bf15c226!2sComviva!5e0!3m2!1sen!2sin!4v1617187130872!5m2!1sen!2sin" width="450" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
	</div>
</div>
