<div class="inner cover">
	<h1 class="cover-heading">Welcome to My Page!</h1>
	<p class="lead">I am Mahima Patel, an undergraduate in Informationn Technology from IGDTUW.</p>
	<p class="lead">
  		<%= link_to "About Me", about_me_path, class: "btn btn-lg btn-secondary" %>
	</p>
</div>

